<a href="https://colab.research.google.com/github/sohag47/Artificial-Intelligence-Lab/blob/master/Week01_Intro_to_Py_Lab_and_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#*My Python First Program "Print HeLLo World"*

In [ ]:
print("Hello World")

Hello World

**Variables and Assignment Statements**

In [ ]:
x=10
y=3
print(x+y)

13

In [ ]:
total = x+y
print(total)

13

In [ ]:
name = "Minhazul"
name2 = "Islam"
name3 = "Sohag"
print(name , name2, name3)

Minhazul Islam Sohag

**Types**

In [ ]:
x =10
type(x)

int

In [ ]:
type(10.5)

In [ ]:
type(name)

str

 **Arithmetic operators**

In [ ]:
add = 100+50
print(add)

150

In [ ]:
sub = 999-99
print(sub)

900

In [ ]:
 multiplication = 10*15
 print(multiplication)

150

In [ ]:
Exponentiation = 10**9
print(Exponentiation)

1000000000

**True Division (/) vs. Floor Division (//)**

In [ ]:
True_Division = 10/4
print(True_Division)

2.5

In [ ]:
Floor_Division = 10//4
print(Floor_Division)

2

In [ ]:
remainder = 10%4
print(remainder)

2

**Relational Operators**

In [ ]:
x = 999
y = 1000

In [ ]:
x>y

False

In [ ]:
x<y

True

In [ ]:
x==y

False

In [ ]:
x!=y

True

In [ ]:
x>=y

False

In [ ]:
x<=y

True

**Chaining Comparisons**

In [ ]:
x = 999
y = 1000

In [ ]:
1 <= x <= 5

False

In [ ]:
1 <= y <= 1001

True

**Print Function**

In [ ]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [ ]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

Ignoring a Line Break in a Long String

In [ ]:
print('this is a longer string, so we \
 split it over two lines')

this is a longer string, so we  split it over two lines

Printing the Value of an Expression

In [ ]:
print('Sum is', 999 + 1)

Sum is 1000

What does the following print statement display?

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

In [ ]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [ ]:
print('Display \'hi\' in quotes')   #using the \' escape sequence:

Display 'hi' in quotes

In [ ]:
print("Display the name O'Brien")

Display the name O'Brien

In [ ]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

To avoid using ' and " inside strings, you can enclose such strings in triple quotes:

In [ ]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

Multiline Strings

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [ ]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [ ]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [ ]:
print("""This is a lengthy
multiline string containing
a few lines \
of text""")

Precision Handling in Python

In [ ]:
a = 3.4536475856

In [ ]:
# using "%" to print value till 2 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.2f' %a)

The value of number till 2 decimal place(using %) is : 3.45

In [ ]:
# using "%" to print value till 4 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.4f' %a)

The value of number till 2 decimal place(using %) is : 3.4536

**Getting Input from the User**

The built-in input function requests and obtains user input:

In [ ]:
name = input("What's your name? ")

What's your name? Minhazul Islam Sohag

In [ ]:
print(name)

Minhazul Islam Sohag

In [ ]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

Enter first number: 999
Enter second number: 1000

In [ ]:
total = float(value1) + float(value2)
print(total)

1999.0

In [ ]:
type(total) #python takes input as a string we have to type cast the input

float

In [ ]:
total = int(value1) + int(value2) #type casting to int format
print(total)

1999

Getting an Integer from the User by casting the input format

In [ ]:
another_value = int(input('Enter another integer: '))

Enter another integer: 99

In [ ]:
print(another_value)

99

Taking multiple input from the useR

In [ ]:
a, b = input().split()

100, 99

In [ ]:
print(a , b)

100, 99

In [ ]:
print(type(a))

<class 'str'>

Solving Problem

Determining the Minimum and Maximum with Built-In Functions min and max

In [ ]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 100
Enter second integer: 1000
Enter third integer: 99

In [ ]:
min(number1,number2,number3)

99

In [ ]:
max(number1,number2,number3)

1000

Exercises

Create the variables x = 2 and y = 3, then determine what each of the following statements displays:

In [ ]:
print('x =', x)
print('Value of', x, '+', x, 'is', (x + x))
print('x =')
print((x + y), '=', (y + x))

x = 999
Value of 999 + 999 is 1998
x =
1999 = 1999

Exercise 1

In [ ]:
x = 2
y = 3

In [ ]:
print('x =', x)

x = 2

In [ ]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [ ]:
print('x =')

x =

In [ ]:
print((x + y), '=', (y + x))

5 = 5